/* Globales */

body {
    margin: 0px;
    font-family: monospace;
  /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    */  
}

a {
    text-decoration: none;
}

header {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #002722;
}

#top-bar {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

#top-bar p {
    margin: 0px;
    font-size: 2rem;
}

#title {
    color: #ffffff;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-bar nav {
    padding-top: 0.55rem;
}

#nav-bar a {
    padding: 0.5rem;
    color: #ffffff;
    text-decoration: none;
}

#media-bar nav {
    padding: 0.5rem;
}

main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

footer {
    padding: 1.5rem;
    background-color: #d6d6d6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}