* {
	margin: 0px;
	box-sizing: border-box;
}
@font-face {
	font-family: OpenSans;
	src: url(/res/fonts/OpenSans-VariableFont_wdth\,wght.ttf),
        url(/res/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}